


<mat-panel-title>Appartement disponibles Dans la région de Dakar</mat-panel-title>
<mat-panel-description>
  cliquer dessus


</mat-panel-description>
<span matBadge="4" matBadgeOverlap="false">
  <mat-horizontal-stepper>
    <mat-step label="Localisation" completed="false" optional><p>Découvrez différentes localitées</p>
      <div>
        
        <button mat-button matStepperNext>Suivant</button>

      </div>
</mat-step>
    <mat-step label="Caractéristiques" completed="false" F3><p>Ayez accès aux différents types d'appartementsF1 F2 F3 F4</p>
      <div>
          <button mat-button matStepperPrevious>Revenir</button>
          <button mat-button matStepperNext>Suivant</button>
  
        </div></mat-step>
    <mat-step label="Prix" completed="false" optional><p>A des prix abordables.</p>
      <div>
          <button mat-button matStepperPrevious>Revenir</button>
          
  
        </div></mat-step>
  </mat-horizontal-stepper>
  <br>


     <br>
     
     <div class="embed-responsive embed-responsive-16by9"><iframe width="640" height="390" src="https://EyeSpy360.vr-360-tour.com/e/UUsBcZm-XNU/e?initvars.autorotate.enabled=always" allowfullscreen allow="microphone; camera; gyroscope; accelerometer"></iframe>
     </div>
     
     <br>
   <div class="embed-responsive embed-responsive-16by9">
   <iframe height="650px" width="800px" allowfullscreen="true" 
   src="https://momento360.com/e/u/1dbd0a0984b9489cb418f93450dbf415?utm_campaign=embed&utm_source=other&utm_medium=other&heading=0&pitch=0&field-of-view=75">
    </iframe>
    </div>
    
      <!-- Footer -->
      <footer>
          
  