


<mat-panel-description>
    Découvrez divers localitée
    
    <mat-horizontal-stepper>
      <mat-step label="Localisation" completed="false" optional><p>Découvrez différentes localitée</p>
        <div>
          
          <button mat-button matStepperNext>Suivant</button>
  
        </div>
  </mat-step>
      <mat-step label="Caractéristiques" completed="false" F3><p>Visitez différentes types de maison</p>
        <div>
            <button mat-button matStepperPrevious>Revenir</button>
            <button mat-button matStepperNext>Suivant</button>
    
          </div></mat-step>
      <mat-step label="Prix" completed="false" optional><p>A des prix raisonables.</p>
        <div>
            <button mat-button matStepperPrevious>Revenir</button>
            
    
          </div></mat-step>
    </mat-horizontal-stepper>
    




    
  </mat-panel-description>
  <iframe height="80px" width="20%" allowfullscreen="true" 
  src="https://momento360.com/e/u/1dbd0a0984b9489cb418f93450dbf415?utm_campaign=embed&utm_source=other&utm_medium=other&heading=0&pitch=0&field-of-view=75">
   </iframe>
   <p>
 Description  <mat-icon  matBadgeColor="warn">touch_app</mat-icon>pour accéder au plein écran        <button mat-stroked-button color="primary">Visiter</button>



          </p>
          
<br>
   <iframe height="80px" width="30%" allowfullscreen="true" 
   src="https://momento360.com/e/u/1dbd0a0984b9489cb418f93450dbf415?utm_campaign=embed&utm_source=other&utm_medium=other&heading=0&pitch=0&field-of-view=75">
    </iframe><br>
    <mat-icon  matBadgeColor="warn">touch_app</mat-icon>      <button mat-stroked-button color="primary">Visiter</button>


   

   
   
  



