<div class="example-container mat-elevation-z8">
    <h2>Liste des Client Details</h2>
    <div class="example-loading-shade"
         *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/cases']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title><h2>{{client.nom}}</h2></mat-card-title>
        <mat-card-subtitle>{{client.mail}} year old</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>location:</dt>
          <dd>{{client.location}}</dd>
          <dt>status:</dt>
          <dd>{{client.status}}</dd>
          <dt>duree:</dt>
          <dd>{{client.duree}}</dd>
          <dt>debut:</dt>
          <dd>{{client.debut}}</dd>
          <dt>fin:</dt>
          <dd><h2>{{client.fin}}</h2></dd>
        </dl>
      </mat-card-content>
      <mat-card-actions>
        <a mat-flat-button color="primary" [routerLink]="['/edit-client', client._id]"><mat-icon>edit</mat-icon> Client</a>
        <a mat-flat-button color="warn" (click)="deleteClient(client._id)"><mat-icon>delete</mat-icon> Cases</a>
      </mat-card-actions>
    </mat-card>
  </div>